.mat-list .mat-list-item .mat-list-icon, .mat-nav-list .mat-list-item .mat-list-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: #b4bcc2;
}

.chip {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.chip-success {
  background-color: #18bc9c;
}
.chip-danger {
  background-color: #e74c3c;
}
.add-btn {
  padding: 8px 65px;
}
