@page
@model HOW.AspNetCore.Razor.WebApp.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.Id" class="control-label"></label>
        <input asp-for="Product.Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

